// esquema de colores

// primer esquema de color

$cs-white: #ffffff;
$cs-platinum: #E6E7E7;
$cs-lightGray: #D1D1D1;

// segundo esquema de color

$cs-FuzzyWuzzy: #E56353;
$cs-RuddyPink: #D76C69;
$cs-SpanishPink: #ECBCBA;

// tercer esquema de color

$cs-EerieBlack: #121619;
$cs-RaisinBlack: #222323;
$cs-Nickel: #6C6E70;

// tipografías

$cs-roboto:'Roboto', sans-serif;
$cs-playfair: 'Playfair Display', serif;

//pesos de fuente

$cs-regular: 400;
$cs-light: 300;
$cs-blackitalic: 700;

// tamaños de fuente

$cs-xx-large: 30px;
$cs-x-large: 30px;
$cs-large: 18px;
$cs-medium: 16px;
$cs-small: 12px;
